body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  height: 100%;
  background-repeat: no-repeat;
  background: url(https://i.ytimg.com/vi/4kfXjatgeEU/maxresdefault.jpg);
  font-family: "Oxygen", sans-serif;
  background-size: cover;
}

h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 50px;
  font-family: "Passion One", cursive;
  font-weight: 400;
}

p {
  text-align: center;
}

form {
  background: -webkit-linear-gradient(bottom, #cccccc, #eeeeee 175px);
  background: -moz-linear-gradient(bottom, #cccccc, #eeeeee 175px);
  background: linear-gradient(bottom, #cccccc, #eeeeee 175px);
  margin: auto;
  position: relative;
  width: 75%;

  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  font-weight: bold;
  color: #09c;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input {
  width: 375px;
  display: block;
  border: 1px solid #999;
  height: auto;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.crudOper {
  margin-left: 28%;
  padding-left: 10px;
  float: none;
}

.form-row {
  float: none;
  margin-right: -35%;
  margin-left: 15%;
}

.custom-control-indicator {
  background-color: rgb(255, 255, 255);
}

#updateAddress,
#updateMoney {
  margin-top: 40px;
}

#radios {
  padding-left: 95px;
}

#inputState,
#sort {
  width: auto;
}

#submits div {
  padding: 10px;
}
