td,
tr,
th {
  color: white;
  border: 2px solid rgb(255, 255, 255);
  padding-left: 4%;
  padding-right: 4%;
}

.table {
  width: 25% !important;
}

body{
    background-color: black;
    color:white;
}